Dockerfile
.dockerignore
docker-compose*.yml
docker-compose*.yaml
docker-compose*
compose.yaml

.black
.flake8
.isort.cfg
.pre-commit-config.yaml
pre-commit
compose.yaml

**/.env.example
**/.env


docker/
.venv/
venv/
env/

**/.idea
**/.vscode
*.iml
*.code-workspace
*.swp
*.swo
*.bak
*~

.coverage
*.coverage
htmlcov/
.pytest_cache/

**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd

poetry.toml
.gitignore
.git
README.md
CHANGELOG.md