.idea/
.vscode/
.cursor/
*.iml
*.code-workspace

.venv/
venv/
env/

*.sqlite3

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

__pycache__/
*.py[cod]
*$py.class

*.manifest
*.spec

htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.mypy_cache/

*.log
.env

.DS_Store
Thumbs.db
Desktop.ini