DB_HOST=theatre-db
SQL_ENGINE=django.db.backends.postgresql_psycopg2
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret
POSTGRES_DB=theatre
REDIS_PASSWORD=r3d1spassw0rd
REDIS_USER=redis
REDIS_USER_PASSWORD=r3d1sus3rpassw0rd
REDIS_HOST=redis
REDIS_PORT=6379
ELASTIC_HOST=elastic
ELASTIC_PORT=9200
AUTH_DB=authservice
AUTH_ALGORITHM=HS256
AUTH_SECRET_KEY=5up3r53cr3tAuthk2Y
ENVIRONMENT=develop

GOOGLE_CLIENT_ID=fakegoogleid
GOOGLE_CLIENT_SECRET=fakegooglesecret
GOOGLE_METADATA_URL="https://accounts.google.com/.well-known/openid-configuration"

YANDEX_CLIENT_ID=fakeyandexclient
YANDEX_CLIENT_SECRET=fakeyandexsecret
YANDEX_REDIRECT_URI=http://localhost/api/v1/auth/social_auth/callback

REQUEST_LIMIT_PER_MINUTE=10000

# SECRET_KEY=

SECRET_KEY=DJANGO_SECRET_KEY
CLICKHOUSE_HOST=172.28.0.80
KAFKA_HOST=172.28.0.90
KAFKA_PORT=9094

MONGO_HOST=mongodb
# DB_HOST=127.0.0.1
MONGO_PORT=27017
MONGO_USERNAME=mongodb
MONGO_PASSWORD=mongodb


# KAFKA__SERVER=kafka-0:9094,kafka-1:9095,kafka-2:9096
# KAFKA__SERVER=127.0.0.1:9095


LOCAL_HOST=127.0.0.1
LOCAL_PORT=8000
LOCAL_WORKERS=1

APP_DEBUG=True

RESYNC_TIMEOUT=1

# Sentry
SENTRY_ABLE=True
SENTRY_DSN=http://your-sentry-dsn@172.28.0.202:9000/1
SENTRY_SECRET_KEY=secret_key
SENTRY_ENVIRONMENT=production
SENTRY_TRACES_SAMPLE_RATE=1.0
SENTRY_POSTGRES_HOST=sentry-postgres
SENTRY_POSTGRES_PORT=5433
SENTRY_DB_NAME=sentry
SENTRY_DB_USER=sentry
SENTRY_DB_PASSWORD=sentry
SENTRY_REDIS_HOST=sentry-redis
SENTRY_REDIS_PORT=6379
SENTRY_REDIS_DB=1

LOGSTASH_HOST=172.28.0.140
LOGSTASH_PORT=5045

YANDEX_HOST=smtp.yandex.ru
YANDEX_PORT=465

YANDEX_LOGIN = test
YANDEX_PASSWORD = test

FILMS_URL = http://nginx/api/v1/films
