body {
    font-family: Arial, sans-serif;
    text-align: left;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 2rem;
}

form {
    margin-bottom: 20px;
}

input {
    margin: 10px;
    padding: 10px;
    font-size: 1rem;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

#form-container {
    width: 1300px;
    margin: 0 auto;
}

.history-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.history-table th, .history-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.history-table th {
    background-color: #f4f4f4;
}
